/* 
    General Styles
*/
@font-face { 
    font-family: 'NewFont'; 
    src: url('../font/esp.ttf') format('truetype'); 
}

.esp-font { 
    font-family: 'NewFont', sans-serif; 
}

.nav-tabs .nav-link {
    color: cadetblue;
    background-color: transparent !important; /* Sin fondo para las pestañas */
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: whitesmoke;
    border-bottom-color: rgb(0, 0, 0);
    background-color: transparent !important;
}
.nav-tabs .nav-item {
    margin-left: -1px !important;
}
.dropdown-menu {
    margin-top: -3px !important;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.5) !important;
}
.dropdown-menu-end { 
    left: auto !important; 
    right: 0 !important; 
}
.nav-link.dropdown-toggle.show {
    color: whitesmoke;
}
.dropdown-item {
    color: whitesmoke;
}
hr.dropdown-divider {
    border-color: white !important;
}

.fondo-img { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: 
    cover; 
    z-index: -1; 
}

html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
}

.btn-toggle {
    background-color: transparent;
    border: transparent solid 1px;
    color: cadetblue;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
}
.btn-toggle:hover {
    border-color: #f8f9fa;
    color: cadetblue;
}
.btn-toggle.active {
    border-color: #f8f9fa;
    color: whitesmoke;
}
.btn-no-outline {
    outline: none !important;
    box-shadow: none !important;
}